extends Layout/main-layout.pug

block styles
    link(rel="stylesheet" href="/css/forms.css")
    link(rel="stylesheet" href="/css/product.css")
    
block content
    menu
        form.product-form(action="/admin/products", method="POST")
            .form-control
                label(for="productName") Product Name
                input(type="text", name="productName")#productName
            button.btn(type="submit") Add Product

        